.git
.gitignore
.dockerignore

.DS_Store
.env
.env.*
.venv
.vscode
.idea
.python-version

__pycache__/
*.py[cod]
*.log

.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.cache/

.coverage
coverage.xml
htmlcov/

*.egg-info/
build/
dist/

db.sqlite3
*.sqlite3
media/
staticfiles/
