{# csm/pages/help.html #}
{% extends "csm/base.html" %}
{% block title %}Pomoc a podpora{% endblock %}

{% block meta_description %}
Nájdite odpovede na často kladené otázky a získajte podporu pre vaše objednávky a účet.
{% endblock %}
{% block content %}

    <section class="mt-8 max-w-3xl">
  <h1 class="mb-6 text-3xl font-semibold">Pomoc a podpora</h1>

    <div class="prose prose-zinc">
        <h2>Často kladené otázky</h2>
        <h3>Ako môžem sledovať svoju objednávku?</h3>
        <p>Objednávku môžete sledovať prihlásením sa do svojho účtu a návštevou sekcie "Objednávky". Tam nájdete aktuálne informácie o stave vašej zásielky.</p>
    
        <h3>Aká je vaša politika vrátenia tovaru?</h3>
        <p>Ponúkame {{ return_window_days }}-dňovú politiku vrátenia tovaru pre nepoužité položky v pôvodnom balení. Pre viac informácií a pokyny, ako iniciovať vrátenie, navštívte našu stránku Vrátenie tovaru.</p>
    
        <h3>Ako môžem kontaktovať zákaznícku podporu?</h3>
        <p>Naša zákaznícka podpora je k dispozícii prostredníctvom stránky Kontaktujte nás alebo e-mailom na adrese support@ricotti.com.</p>
        
    </div>
{% endblock %}
